/* Your CSS Code here. */
 ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 20px;
    }
    li {
      text-align: center;
    }
    img {
      width: 250px;
      height: auto;
      border-radius: 10px;
    }